<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
  <persistence-unit name="WebApplication2PU" transaction-type="JTA">
    <jta-data-source>postgres</jta-data-source>
    <class>com.seguroshorizonte.capadeservicios.servicios.actividad</class>
    <class>com.seguroshorizonte.capadeservicios.servicios.auditoria</class>
    <class>com.seguroshorizonte.capadeservicios.servicios.bandeja</class>
    <class>com.seguroshorizonte.capadeservicios.servicios.clasificacion_proceso</class>
    <class>com.seguroshorizonte.capadeservicios.servicios.clasificacion_rol</class>
    <class>com.seguroshorizonte.capadeservicios.servicios.clasificacion_tarea</class>
    <class>com.seguroshorizonte.capadeservicios.servicios.clasificacion_usuario</class>
    <class>com.seguroshorizonte.capadeservicios.servicios.cola_de_tarea</class>
    <class>com.seguroshorizonte.capadeservicios.servicios.condicion</class>
    <class>com.seguroshorizonte.capadeservicios.servicios.contador_round_robin</class>
    <class>com.seguroshorizonte.capadeservicios.servicios.destinatario</class>
    <class>com.seguroshorizonte.capadeservicios.servicios.documento</class>
    <class>com.seguroshorizonte.capadeservicios.servicios.equivalencia_tiempo</class>
    <class>com.seguroshorizonte.capadeservicios.servicios.grupo</class>
    <class>com.seguroshorizonte.capadeservicios.servicios.grupo_politica_tarea</class>
    <class>com.seguroshorizonte.capadeservicios.servicios.instancia</class>
    <class>com.seguroshorizonte.capadeservicios.servicios.mensaje</class>
    <class>com.seguroshorizonte.capadeservicios.servicios.organizacion</class>
    <class>com.seguroshorizonte.capadeservicios.servicios.periodo</class>
    <class>com.seguroshorizonte.capadeservicios.servicios.periodo_actividad</class>
    <class>com.seguroshorizonte.capadeservicios.servicios.periodo_grupo_proceso</class>
    <class>com.seguroshorizonte.capadeservicios.servicios.politica</class>
    <class>com.seguroshorizonte.capadeservicios.servicios.politica_round_robin</class>
    <class>com.seguroshorizonte.capadeservicios.servicios.post</class>
    <class>com.seguroshorizonte.capadeservicios.servicios.post_en_bandeja</class>
    <class>com.seguroshorizonte.capadeservicios.servicios.prioridad</class>
    <class>com.seguroshorizonte.capadeservicios.servicios.prioridad_mensaje_en_linea</class>
    <class>com.seguroshorizonte.capadeservicios.servicios.proceso</class>
    <class>com.seguroshorizonte.capadeservicios.servicios.regla_transicion</class>
    <class>com.seguroshorizonte.capadeservicios.servicios.regla_transicion_transicion</class>
    <class>com.seguroshorizonte.capadeservicios.servicios.reporte</class>
    <class>com.seguroshorizonte.capadeservicios.servicios.reporte_rol</class>
    <class>com.seguroshorizonte.capadeservicios.servicios.rol</class>
    <class>com.seguroshorizonte.capadeservicios.servicios.sesion</class>
    <class>com.seguroshorizonte.capadeservicios.servicios.skin</class>
    <class>com.seguroshorizonte.capadeservicios.servicios.tarea</class>
    <class>com.seguroshorizonte.capadeservicios.servicios.tarea_inicio_proceso</class>
    <class>com.seguroshorizonte.capadeservicios.servicios.tarea_rol</class>
    <class>com.seguroshorizonte.capadeservicios.servicios.transicion</class>
    <class>com.seguroshorizonte.capadeservicios.servicios.usuario</class>
    <class>com.seguroshorizonte.capadeservicios.servicios.usuario_grupo_rol</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <shared-cache-mode>NONE</shared-cache-mode>
    <properties/>
  </persistence-unit>
</persistence>
